$min-desktop-width: 992px;
$sm-min: 576px;

$max-inner-width: 1000px;
$site-gutter: 40px;

$mark-green: #74c431;
$mark-green-rgba: rgba(116, 196, 49, 0.5);
$mark-dark-green: #75a526;
$mark-very-dark-green: #52652f;
$mark-blue: #6699cc;
$mark-blue-rgba: rgba(102, 153, 204, 0.8);
$mark-dark-blue: #436485;
$mark-light-blue: #7fbefc;
$mark-purple: #aa72c4;
$mark-purple-rgba: rgba(170, 114, 196, 0.5);
$mark-dark-purple: #895d9e;
$mark-dark-gray: #333;
$mark-light-gray: #ccc;
$mark-very-light-gray: rgba(204, 204, 204, 0.1);